<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @officer.user_id %>
</p>

<p>
  <b>Institution:</b>
  <%= @officer.institution_id %>
</p>


<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
