<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'What I saw' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :troubles_caused %><br />
    <%= f.text_area :troubles_caused %>
  </div>


  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.number_field :institution_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= f.number_field :status_id %>
  </div>

  <% if @report.user_id && @report.user_id != "" %>
        <p>
          <b>User:</b>
          <%= ReportsController.author(@report) %>
        </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
