

<div id="menu" class="menu">

  <% if current_user %>
    <%= link_to 'My Reports', user_reports_path(current_user.id) %>    <br>   <br>
    <%= link_to("How many reports do I have?", "/reportsCount/#{current_user.id}.json" , :method => :get, remote: true) %>
    <label id="reportsCountLabel" />
  <% end %>
</div>




<div id="content" class="content">




  <a href="<%= new_report_path %>">
  <div id="new_report_button" >
    New Report
  </div>
  </a>


  <h1>Most Recent Reports</h1>



      <%= render 'list_of_reports' %>






    <br />

</div>

<div class="sidebar">

  <%= render 'filter' %>
</div>