

<div id="menu" class="menu">

  <% if current_user %>
    <%= link_to 'My Reports', user_reports_path(current_user.id) %>
  <% end %>
</div>




<div id="content" class="content">

  <a href="<%= new_report_path %>">
  <div id="new_report_button" >
    New Report
  </div>
  </a>


  <h1>Most Recent Reports</h1>



    <table>
      <tr>
        <th>Date created</th>
        <th>Date updated</th>
        <th>Description</th>
        <th>Location</th>
        <th>Troubles caused</th>
        <th>User</th>
        <th>Institution</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @reports.each do |report| %>
      <tr>
        <td><%= report.date_created %></td>
        <td><%= report.date_updated %></td>
        <td><%= report.description %></td>
        <td><%= report.location %></td>
        <td><%= report.troubles_caused %></td>
        <td><%= report.user.complete_name %></td>
        <td><%= report.institution_id %></td>
        <td><%= report.status_id %></td>
        <td><%= link_to 'Show', report %></td>

        <% if ReportsController.can_edit(report.user_id, user_signed_in?, current_user)%>
            <td><%= link_to 'Edit', edit_report_path(report) %></td>
            <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>

    <br />

</div>

<div id="filter" class="sidebar">
  <div class="section_title">
    Report Filter
  </div>
  <form method="GET">
    <div class="field">
      <label for="filter_keywords">Keywords</label>   <br />
      <input type="text" id="filter_keywords" name="filter[keywords]" value=<%= @filter.keywords %>>
    </div>
    <div class="field">
      <label for="filter_status">Status</label>   <br />
      <input type="text" id="filter_status" name="filter[status]" value=<%= @filter.status %>>
    </div>
    <div class="field">
      <label for="filter_accountable_institution">Accountable Institution</label>   <br />
      <input type="text" id="filter_accountable_institution" name="filter[institution]" value=<%= @filter.institution %>>
    </div>
    <div class="field">
      <label for="filter_date">Date</label>   <br />
      <input type="text" id="filter_date">
    </div>

    <input type="submit" action="/" value="Go!">
  </form>
</div>