<!DOCTYPE html>
<html>
<head>
  <title>Street Report</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script type=”text/javascript” src=”http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js&#8221;> </script>

</head>
<body>

  <div class="page_title" >
    <%= link_to "Street Report", root_path %>
  </div>

  <div id="login">
    <%= link_to "Login", new_user_session_path unless user_signed_in? %>

    <% if user_signed_in?%>
        <%= "Hi, #{current_user.complete_name}" %>   <br>
        <%= link_to("Logout", destroy_user_session_path, :method => :get) %>    <br>

    <% end  %>
</div>

<div class="after_header">

  <p class="notice"><%= notice %></p>
</div>



<%= yield %>

  <div class="after_content">
    </div>
<div class="footer">
  <p>
    <b>Student:</b> Maria Luisa Carrion | 96-821 Introduction to Software Engineering | Task 2: Learning Rails


  </p>

  <br>
  <br>

  <b>User Stories implemented for Task 3:</b>

  <p>
    As a citizen, I can filter the reports entering a keyword in a search field. This keyword can match anything in the report description or report location.
  </p>


  <b>REST API that responds to xml requests for Task 3:</b>

  <p>
    http://localhost:3000/reports.xml
  </p>

  <p>
    http://localhost:3000/reports/new.xml
  </p>

  <p>
    http://localhost:3000/reports/5.xml
  </p>

  <b>AJAX usage:</b>

  <p>
    When a user is logged in, the "How many reports do I have" link does an AJAX query to the server and shows an alert indicating how many reports the user has created.
  </p>

  <p>
    TurboLinks gem installed.
  </p>

  <br>
  <br>

  <b>User Stories implemented for Task 2:</b>


    <p>As a citizen, I can create a new report anonymously (I don’t have to be logged in).

    <p>
      As a citizen, I can sign up and login.
    </p>

    <p>As a citizen, I can create a new report by filling in any of the following fields: <del>pictures (a maximum of 3)</del>, what I saw, location <del>(I want to choose this form a google map)</del>, troubles caused by what I am reporting.</p>

    <p>As a citizen, I can see the reports I have created clicking on the "My Reports" link.</p>

    <p>As a citizen, I can only edit and destroy the reports that I have created.</p>

    <p>As a citizen, I can see the following information when I open a report: <del>pictures,</del> what the reporter saw, location, troubles caused by what was reported, status of the report, responsible institution, comments.
    </p>

    <p>
       As admin, I can edit and destroy all the reports. <b>user:</b> admin@admin.com  <b>Password:</b> admin12345
    </p>



</div>

</body>
</html>
